{% extends 'adminNavbar.html' %}
{% block main %}
{% load static %}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-cab"></i> Update Password</h3>
                    <form method="post" name="changepassword" onsubmit="return checkpassword()">
                        {% csrf_token %}
                        <div class="modal-body mt-3">
                            <div class="box box-primary">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Current Password</label>
                                        <input type="password" name="oldpassword" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label>New Password</label>
                                        <input type="password" name="newpassword" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label>Confirm Password</label>
                                        <input type="password" name="confirmpassword" class="form-control" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function checkpassword() {
        var newpassword = document.changepassword.newpassword.value;
        var confirmpassword = document.changepassword.confirmpassword.value;

        if (newpassword !== confirmpassword) {
            alert('New Password and Confirm Password fields do not match');
            document.changepassword.confirmpassword.focus();
            return false;
        }
        return true;
    }
</script>

{% if error == "yes" %}
<script>
    alert('Password changed successfully');
    window.location=('{% url 'logout' %}');
</script>
{% endif %}
{% if error == "no" %}
<script>
    alert('New Password and Confirm Password fields do not match');
</script>
{% endif %}
{% if error == "not" %}
<script>
    alert('Your current password is incorrect');
</script>
{% endif %}

{% endblock %}
